<html>
<head>
<h1>Vacant land valuation</h1>
</head>
<body>
<form action='/result' method=POST>
Land_Area: <input type ="number" id= "Land_Area" name="x1"><br>
Wp_popdensity_2020: <input type ="number" id= "Wp_popdensity_2020" name="x2"><br>
Water_Nwk: <input type ="number" id= "Water_Nwk" name="x3"><br>
VIIRS_nighttime_light: <input type ="number" id= "VIIRS_nighttime_light" name="x4"><br>
Supermarkets_shopping_malls: <input type ="number" id= "Supermarkets_shopping_malls" name="x5"><br>
Slope: <input type ="number" id= "Slope" name="x6"><br>
Sewer_Nwk: <input type ="number" id= "Sewer_Nwk" name="x7"><br>
Poverty_index: <input type ="number" id= "Poverty_index" name="x8"><br>
Market: <input type ="number" id= "Market" name="x9"><br>
Informal_Settlememts: <input type ="number" id= "Informal_Settlememts" name="x10"><br>
CBD: <input type ="number" id= "CBD" name="x11"><br>
Bus_stops: <input type ="number" id= "Bus_stops" name="x12"><br>
BUP_density: <input type ="number" id= "BUP_density" name="x13"><br>
<input type="submit", value="Submit"><br>
</body>
</html>
